@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-grey: hsl(0, 0%, 98%);
  --box-shadow-blue: hsl(212, 50%, 60%, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-grey);
}

/* Headings and Paragraphs */

p {
  font-weight: 400;
  font-size: 15px;
  color: var(--grayish-blue);
}

h1,
h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--dark-blue);
}

.heading__title--thin {
  font-weight: 200;
}

.cards__types p {
  padding-top: 0.8em;
  line-height: 1.7;
  font-size: 12px;
}

.cards__types h2 {
  font-size: 19px;
}

/* Header / Heading */

.heading {
  width: 35%;
  text-align: center;
}

.heading p {
  margin-top: 1em;
}

/* Main / Cards */

.cards {
  width: 85%;
  margin: 2.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__wrapper {
  display: flex;
  flex-direction: column;
}

.cards__types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.9em;
  padding: 1.6em 1.8em;
  width: 330px;
  height: 235px;
  border-top: 4px solid;
  border-radius: 0.3em 0.3em 0.5em 0.5em;
  box-shadow: 1px 10px 15px 7px var(--box-shadow-blue);
}

.cards__types img {
  align-self: flex-end;
  margin-top: 13%;
}

.cards__types--cyan {
  color: var(--cyan);
}

.cards__types--red {
  color: var(--red);
}

.cards__types--orange {
  color: var(--orange);
}

.cards__types--blue {
  color: var(--blue);
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 1439px) {
  body {
    justify-content: unset;
  }

  .heading {
    padding-top: 5em;
  }

  .cards {
    flex-direction: column;
    padding-bottom: 4em;
    margin-top: 4em;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  p {
    font-size: 13px;
  }

  h1 {
    font-size: 21px;
  }

  .heading {
    width: 80%;
  }

  .cards__types {
    width: 280px;
    height: 215px;
  }

  .cards__types img {
    margin-top: 8%;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  .heading {
    width: 80%;
  }

  .cards__types {
    width: 315px;
  }

  .cards__types img {
    margin-top: 14%;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  .heading {
    width: 85%;
  }

  .cards__types {
    width: 315px;
  }

  .cards__types img {
    margin-top: 14%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  h1 {
    font-size: 34px;
  }

  .heading {
    width: 60%;
  }

  .cards__types {
    width: 400px;
  }
  .cards__types img {
    margin-top: 17%;
  }
  .cards__types--red img {
    margin-top: 11%;
  }

  .cards__types--blue img {
    margin-top: 11%;
  }
}
